<p>inbuiltpipe works!</p>
<!-- syntax
  - Pipe always works on Property 
  {{propertyname|pipename}}
-->
  <!-- <h2> {{strdata}} </h2>
  <h2> {{strdata|lowercase}} </h2>
  <h2> {{strdata|uppercase}} </h2>
  <h2> {{strdata|titlecase}} </h2> -->

  <!-- <h2> {{0.25 | percent}} </h2>
  <h2> {{0.025 | percent}} </h2>
  <h2> {{0.025 | percent:'1.1'}} </h2>
  <h2> {{0.091 | percent:'2.2'}} </h2> -->

  <h2> {{0.25 | currency}} </h2>
  <h2> {{0.25 | currency:'INR'}} </h2>
  <h2> {{0.25 | currency:'INR ':'code'}} </h2>